# Setup

First, we initialize a Mongo cluster by selecting a local path (in which the data will be stored) ``<local-path>`` and running:
```bash
docker run -p 27017:27017 -v <local-path>:/data/db mongo
```

Now the database is running locally (IP address of the ``localhost`` is ``0.0.0.0``) at port 27017. **MongoDB Compass** can be leveraged both to create and organize the databases and collections of the cluster; as well as the _mongo shell_ (no IDE, just CLI).

Actually, using the _mongo shell_ one could access and connect to a remote Mongo database with the syntaxis:
```bash
mongo --username alice --password --authenticationDatabase admin --host mongodb0.examples.com --port 2801
```

Once the database & collection has been created, we can start querying both using the _mongo shell_, the **MongoDB Compass** or the **Python API**: ``pymongo``:

In [2]:
import pymongo  # conda install -c anaconda pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

Assuming we have a database called ``ub`` with a collection name ``restaurants``...

In [18]:
db = myclient.get_database('ub')
_collection = db.restaurants

# Queries

#### Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurant.

In [21]:
cursor = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1})
for _result in cursor:
    pass
    # print(_result)

#### Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine, but exclude the field _id for all the documents in the collection restaurant.

In [22]:
cursor = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1,"_id":0});

#### Write a MongoDB query to display all the restaurant which is in the borough Bronx

In [23]:
cursor = db.restaurants.find({"borough": "Bronx"})

#### Write a MongoDB query to display the first 5 restaurant which is in the borough Bronx.

In [24]:
cursor = db.restaurants.find({"borough": "Bronx"}).limit(5)

#### Write a MongoDB query to display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

In [25]:
cursor = db.restaurants.find({"borough": "Bronx"}).skip(5).limit(5)

#### Write a MongoDB query to find the restaurants who achieved a score more than 90.

In [28]:
cursor = db.restaurants.find({'grades': {'$elemMatch':{"score":{'$gt': 90}}}})

#### Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100.

In [29]:
cursor = db.restaurants.find({'grades': {'$elemMatch':{"score":{'$gt': 80, '$lt': 100}}}})

#### Write a MongoDB query to find the restaurants that do not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168.

In [31]:
cursor = db.restaurants.find(
    {
        "cuisine" : {'$ne': "American "},
        "grades.score" :{'$gt': 70},
        "address.coord" : {'$lt': -65.754168}
    })

## Queries with RegEx

#### Write a MongoDB query to find the restaurants which contain 'Wil' as first three letters for its name.

In [32]:
db.restaurants.find({'name': '/^Wil/'});

#### Write a MongoDB query to find the restaurants which contain 'ces' as last three letters for its name.

In [ ]:
db.restaurants.find({name: /ces$/});

#### Write a MongoDB query to find the restaurants which contain 'Reg' as three letters somewhere in its name.

In [35]:
db.restaurants.find({"name": '/.*Reg.*/'});

#### Write a MongoDB query to find the restaurants which belong to the borough Bronx and prepared either American or Chinese dish.

In [37]:
db.restaurants.find(
    { 
        "borough": "Bronx" , 
        '$or': [{ "cuisine" : "American " },{ "cuisine" : "Chinese" }],
    });